.button {
	display: flex;
    color: var(--text-dark-grey);
    font-size: 16px;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
    text-decoration: none;
}

.buttonActive {
    color: var(--text-primary-light);
}
