.wrapper {
    max-width: 1280px;
    margin: 120px auto 0 auto;
    display: grid;
    
}

.columns2 {
    grid-template-columns: minmax(300px, 400px) auto;
}

.columns3 {
    grid-template-columns: minmax(300px, 400px) auto minmax(300px, 400px);
}

.leftBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.centerBlock {
    height: fit-content;
}

.infoText {
    margin-top: 0;
    padding-top: 60px;
    color: var(--text-dark-grey);
}

.link {
    color: var(--interface-accent);
    text-decoration: none;
}
