:root {
	--text-primary-light: #f2f2f3;
	--text-dark-grey: #8585ad;
    --interface-accent: #4C4CFF;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
    color: var(--text-primary-light);
}

.big-input-container .input_size_default, .big-input-container  .input__container {
    width: 100%;
}

.profile-nav.active {
    color: var(--text-primary-light);
    text-decoration: none;
}

