.profileForm {
    width: 480px;
}

.profileForm > div, .profileForm > button {
    margin-top: 24px;
}

.profileForm > div:first-child {
    margin-top: 0;
}

.profileForm > button {
    margin-top: 24px;
    margin-bottom: 80px;
}

.footer {
    text-align: right;
}